html, body {
    --theme-highlight: #007BFF;
    --theme-slider-accent: #77cc66;
    --theme-slider-trim: #6f6e7a;
}

.button-style {
    padding: 5px 10px;
    font-size: inherit;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: #CCC;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.button-style.highlight {
    background-color: var(--theme-highlight);
    color: #FFF;
}

.button-style.error {
    background-color: #900;
    color: #FFF;
}

.button-style:hover {
    color: #FFF;
    background-color: #666;
}

.button-style:disabled {
    background-color: #acacac;
    color: #666;
    opacity: 0.5;
    cursor: not-allowed;
}